{% extends "layout.njk" %}

{% block content %}

<div class="container chefs-container">

   {% include "parts/home-header.njk" %}
      
   <ul id="chefs">
      {% for chef in chefs %}
      
      <li class="chef">
         <img src="{{chef.image_src}}" alt="{{chef.name}}">
         <div class="info">
            <h4>{{chef.name}}</h4>
            <p>
               {{chef.total_recipes}} 
               {% if chef.total_recipes != 1 %}
               receitas
               {% else %}
               receita
               {% endif %}
            <p>
         </div>
      </li>

      {% endfor %}
   </ul>

</div>

{% endblock %}