{% extends "layout.njk" %}
{% import "parts/search-bar.njk" as search %}
{% import "parts/recipes-cards.njk" as cards %}

{% block content %}

<div class="container">
   
   {% include "parts/home-header.njk" %}

   <form action="/home/search">
      {{search.form('search-home')}}
   </form>

   <section class="presentation-card">
      <div class="presentation-message">
         <h1>As melhores receitas</h1>
         <p>
            Aprenda a contruir os melhores pratos, com receitas
            criadas por profissionais do mundo inteiro.
         </p>
      </div>
      <img src="/images/chef.png" alt="chef figure">
   </section>
   
   <section class="recipes-cards"> 
      <h2>Mais Acessadas</h2>

      {{cards.render(recipes)}}
      
   </section>
</div>

{% endblock %}