{% extends "layout.njk" %}

{% block content %}


<div class="container recipes-container">
   
   {% include "parts/home-header.njk" %}

   <ul id="recipe-list">
      {% for recipe in recipes %}
      
      <li class="recipe-card">
         <img src="{{recipe.image}}" alt="">
         <div class="card-info">
            <h3>{{ recipe.title }}</h3>
            <p>por: {{recipe.chef_name}}</p>
         </div>
      </li>
      
      {% endfor %}
   </ul>
</div>

{% endblock %}