<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Foodfy</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/styles/login.css">
      <link rel="stylesheet" href="/styles/styles.css">
   </head>

   <body class="container login-container">
      <header>
         <a href="/home/index">
            <img src="/images/logo-home.png" alt="Logo foodfy">
         </a>
      </header>

      <section>
         <h2>Esqueceu a senha?</h2>
         <form method="POST" action="/admin/users/forgot">
            <label for="email">Email</label>
            <input 
               type="text" 
               id="email" 
               name="email" 
               placeholder="Digite seu email para recuperar a senha"
            >
            
            <button class="button" type="submit">Recuperar</button>
         </form>
      </section>

   </body>
</html>