{% extends "layout.njk" %}

{% block content %}

{% include "parts/admin-header.njk" %}

<div class="container fields-container">
   <h2>Criar Usuário</h2>

   <form 
      class="user-form" 
      method="POST" 
      action="/admin/users" 
   >
      
      {% include "users/fields.njk" %}

      <button 
         class="button" 
         type="submit"
         onclick="Validate.allFields(event)"
      >
      Salvar
      </button>
      
   </form>
</div>

{% endblock %}