{% extends "layout.njk" %}

{% block content %}

{% include "parts/admin-header.njk" %}

<div class="container fields-container">
   <h2>Criando receita</h2>

   <form 
      class="card" 
      method="POST" 
      action="/admin/recipes" 
      enctype="multipart/form-data"
   >
      {% include "recipes/fields.njk" %}

      <button 
         class="button" 
         type="submit"
         onclick="Validate.allFields(event)"
      >
         Salvar
      </button>
   </form>
</div>

{% endblock %}