{% extends "layout.njk" %}

{% block content %}

{% include "parts/admin-header.njk" %}

<div class="container fields-container">
   <h2>Editando receita</h2>

   <form class="card" method="POST" 
      action="/admin/recipes?_method=PUT" 
      enctype="multipart/form-data"
   >
      {% include "recipes/fields.njk" %}

      <input type="hidden" name="id" value={{recipe.id}}>
      <button class="button" type="submit">
         Salvar
      </button>
   </form>

   <form 
      class="card" 
      id="form-delete" 
      method="POST" 
      action="/admin/recipes?_method=DELETE"
   >
      <input type="hidden" name="id" value={{recipe.id}}>
      <button class="delete-button" type="submit">Deletar</button>
   </form>
</div>

<script>
   function createBackendIngredientsInput() {
      const ingredients = document.querySelector('#ingredients')
      const fieldContainer = document.querySelectorAll('.ingredient')
      const firstInput = document.querySelector('.ingredient input')
      
      const values = firstInput.value.split(',')

      if(values.length > 1) {
         values.forEach(value => {
            const newField = 
               fieldContainer[fieldContainer.length - 1].cloneNode(true);
            
            newField.children[0].value = value
            ingredients.appendChild(newField)

         })
         firstInput.parentNode.removeChild(firstInput)
      }
   }

   function createBackendPreparationStepsInput() {
      const steps = document.querySelector('#steps');
      const fieldContainer = document.querySelectorAll('.step');
      const firstInput = document.querySelector('.step input')
      
      const values = firstInput.value.split(',')

      console.log(values)

      if(values.length > 1) {
         values.forEach(value => {
            const newField = 
               fieldContainer[fieldContainer.length - 1].cloneNode(true);
            
            newField.children[0].value = value
            steps.appendChild(newField)

         })
         firstInput.parentNode.removeChild(firstInput)
      }
   }

   createBackendIngredientsInput()
   createBackendPreparationStepsInput()
</script>

{% endblock %}