<div class="item">
   <div class="item-title">Imagem da receita</div>
   <div class="images">   
      <div 
         {% if error %} class="error-input" {% endif %}
         id="images-upload"
      >
         <input 
            id="images-input"
            type="file"
            name="images"
            multiple
            accept="image/*"
            onchange="PhotosUpload.handleFilesInput(event)"
         >
         <i class="material-icons">add</i>
         <p>Máximo de 5 imagens</p>
      </div>
      
      <div id="images-preview">
         {% if files %}
            {% for file in files %}
               <div class="preview" id="{{file.id}}">
                  <img src="{{file.src}}" alt="{{file.name}}">
                  <i class="material-icons" 
                     onclick="PhotosUpload.removeOldImage(event)"
                  >add</i>
               </div>
            {% endfor %}
            <input 
               type="hidden" 
               name="removed_files" 
               value={{file.id}}
            >
         {% endif %}
      </div>
   </div>
</div>

<div class="item">
   <div class="item-title">Nome da receita</div>
   <div>
      <input 
         id="title-input"
         {% if error %} class="error-input" {% endif %}
         type="text"
         name="title"
         value="{{recipe.title}}"
         placeholder="Cheese sandwich"
      >
   </div>
</div>

<div class="item">
   <div class="item-title">Chef</div>
   <div>
      <select 
         {% if error %} class="error-input" {% endif %}
         name="chef_id"
      >
         <option style="display:none">
         
         {% for chef in chefsNameAndId %}
            <option
               value={{chef.id}} 
               {% if recipes.chef_id == chefs.id %} selected {% endif %}
            >
               {{chef.name}}
            </option>
         {% endfor %}
      </select>
   </div>
</div>

<div class="item">
   <div class="item-title">Ingredientes</div>
   <div id="ingredients">
      <div class="ingredient">
         <input 
            type="text"
            {% if error %} class="error-input" {% endif %}
            name="ingredients[]"
            value="{{recipe.ingredients}}"
            placeholder="200g de mussarela"
         >
      </div>
   </div>
   <div 
      class="add" 
      id="add-ingredient"
      onclick="newInputHandler.addIngredient(event)"
   >
      Adicionar ingrediente
   </div>
</div>

<div class="item">
   <div class="item-title">Modo de preparo</div>
   <div id="steps">
      <div class="step">
         <input 
            type="text"
            {% if error %} class="error-input" {% endif %}
            name="preparation[]"
            value="{{recipe.preparation}}"
            placeholder="Primeiro, corte a mussarela em cubinhos..."
         >
      </div>
   </div>
   <div 
      class="add" 
      id="add-step"
      onclick="newInputHandler.addStep(event)"
   >
      Adicionar passo
   </div>
</div>

<div class="item">
   <div class="item-title">Informações adicionais</div>
   <div>
      <textarea name="information" cols="30" rows="10">{{recipe.information}}</textarea>
   </div>
</div>