{% extends "layout.njk" %}

{% block content %}

{% include "parts/admin-header.njk" %}

<div class="container recipes-container">
   <h2>Gerenciar receitas</h2>
   
   <a href="/admin/recipes/create">
      <button class="button">Adicionar</button>
   </a>

   <ul id="recipe-list">
      {% if recipes %}
         {% for recipe in recipes %}
            <li class="recipe-card">
               <img src="{{recipe.image_src}}" alt="Imagem da receita {{recipe.title}}">
               <div class="card-info">
                  <h3>{{recipe.title}}</h3>
                  <p>por: {{recipe.chef_name}}</p>
                  <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
               </div>
            </li>         
         {% endfor %}
      {% endif %}
   </ul>
</div>
{% if pagination %}
   <div 
      class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
   ></div>   
{% endif %}

{% endblock %}