<div class="item">
   <div class="item-title">Nome</div>
   <div>
      <input 
         type="text"
         name="title"
         value="{{recipe.title}}"
         placeholder="Cheese sandwich"
      >
   </div>
</div>

<div class="item">
   <div class="item-title">Foto</div>
   <div>
      <input 
         type="url"
         name="image"
         value="{{recipe.image}}"
         placeholder="http://"
      >
   </div>
</div>

<button type="submit">Salvar</button>