<div class="item">
   <div class="item-title">Nome</div>
   <div>
      <input 
         type="text"
         {% if error %} class="error-input" {% endif %}
         name="name"
         value="{{chef.name}}"
         placeholder="Fulano da Silva"
      >
   </div>
</div>

<div class="item">
   <div class="item-title">Avatar</div>
   <div id="chef-gallery">
      <div id="image-preview">
         {% if image %}
            <input 
               id="chef_image-input"
               type="text"
               {% if error %} class="error-input" {% endif %}
               name="image_src"
               value={{image.src}}
               readonly="true"
               multiple
            >
         {% endif %}
      </div>

      <div id="chef-image">
         <p>Enviar imagem</p>
         <input 
            type="file"
            name="image"
            single
            accept="image/*"
            onchange="ChefImageUpload.handleInput(event)"
         >
      </div>
   </div>
</div>