<div class="item">
   <div class="item-title">Nome</div>
   <div>
      <input 
         type="text"
         name="name"
         value="{{chef.name}}"
         placeholder="Fulano da Silva"
      >
   </div>
</div>

<div class="item">
   <div class="item-title">Foto</div>
   <div>
      <input 
         type="url"
         name="image"
         value="{{chef.image}}"
         placeholder="http://"
      >
   </div>
</div>

<button type="submit">Salvar</button>