@keyframes fadeaway {
   from {
      border-color: #DC4747;
   }
   
   to {
      border-color: #DDDDDD;
   }
}

/** RECIPE'S AND CHEF'S FIELDS **/

.fields-container h2 {
   font-size: 24px;
   font-weight: bold;

   margin-bottom: 30px;
}

.item-title {
   font-size: 16px;
   font-weight: bold;

   margin-bottom: 10px;
}

.item input,
.item select {
   height: 49px;
   width: 100%;

   border: 1px solid #DDDDDD;
   border-radius: 4px;
   margin-bottom: 5px;

   font-size: 16px;
   padding-left: 10px;
   color: rgb(39, 38, 38);
}

.item .ingredient,
.item .step {
   position: relative;
}

.item .ingredient i,
.item .step i {
   position: absolute;
   top: 50%;
   right: 12px;
   font-weight: bold;
   font-size: 18px;
   color: #DDD;
   
   cursor: pointer;

   margin-top: -12px;

   transition: color 300ms;
}

.item .ingredient i:hover,
.item .step i:hover {
   color: #DC4747;
}

.item .error-input {
   border-color: #DDDDDD;
   
   animation: fadeaway 7s;
   animation-timing-function: ease-in;   
}

.item select {
   margin-bottom: 30px;
}

.item:first-child {
   margin-bottom: 30px;
}

#title-input {
   margin-bottom: 30px;
}

.item .add {
   font-weight: 700;
   font-size: 14px;
   color: #6558C3;

   margin-left: 2px;
   margin-bottom: 40px;
}

.item .add:hover {
   filter: brightness(120%);
   cursor: pointer;
   transition: all 300ms;
}

.item textarea {
   width: 100%;
   height: 257px;

   border: 1px solid #DDDDDD;
   border-radius: 4px;
   margin-bottom: 50px;

   font-size: 16px;
   color: rgb(39, 38, 38) ;
   font-family: 'Roboto', sans-serif;
}

/** RECIPE IMAGES **/

.item .images {
   display: flex;
   flex-direction: row;
   
   margin-bottom: 45px;
}

/* recipe's images upload */

.item #images-upload {
   width: 150px;
   height: 150px;

   border: 1px solid #DDDDDD;
   border-radius: 3.5px;
   margin-right: 0;
   
   position: relative;
   display: flex;
}

.item #images-upload.error-input {
   animation: fadeaway 7s;
   animation-timing-function: ease-in;
}

.item #images-upload:hover {
   border: 2px solid #999999;
}

.item #images-upload input {
   width: 100%;
   height: 180px;

   opacity: 0;
   padding: 0;
   margin: 0;

   position: absolute;
   top: -30px;
   
   cursor: pointer;
   z-index: 1;
}

.images i {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   
   font-size: 42px;
   color: #DDDDDD;
}

#images-upload:hover i {
   color: #999999;
}

.item div p {
   position: absolute;
   top: 100%;

   font-size: 12px;
   color: #999999;

   margin-top: 5px;
   margin-left: 16px;
}

/* recipe's images preview */

#images-preview {
   display: flex;
   flex-direction: row;
}

#images-preview .preview {
   position: relative;
   width: 150px;
   height: 150px;

   margin-left: 10px;
   cursor: pointer;

   z-index: 1;
}

#images-preview .preview img {
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: center;

   border: 1px solid #DDDDDD;
   border-radius: 3.5px;

   transition: 400ms;
}

#images-preview .preview i {
   transform: rotate(-45deg);
   color: #FF0000;

   opacity: 0;

   transition: 200ms;
}

#images-preview .preview:hover img {
   opacity: 0.15;
}

#images-preview .preview:hover i {
   opacity: 1;
}

/* chef's images upload */

#chef-gallery #chef-image {
   position: relative;
   display: flex;
   
   width: 140px;
   height: 38px;

   background-color: #6558C3;
   
   border-radius: 4px;
   margin-bottom: 180px;
}

#chef-gallery #chef-image input {
   width: 100%;
   height: 68px;

   opacity: 0;
   padding: 0;
   margin: 0;

   position: absolute;
   top: -30px;

   cursor: pointer;
   z-index: 1;
}

#chef-gallery #chef-image p {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;

   padding: 0;
   margin: 0;

   font-size: 16px;
   color: #FFFFFF;
}

#chef-gallery #chef_image-input {
   font-family: Helvetica;
   font-size: 16px;
   color: #DDDDDD;

   margin-bottom: 15px;
}

/** USER'S FIELDS **/

#user-info {
   display: flex;
   justify-content: space-between;
}

.user-form .item input {
   width: 450px;
}

.user-form .item .error {
   font-size: 14px;
   font-weight: bold;
   color: white;
   text-align: center;

   padding-top: 2px;
   border-radius: 4px;

   width: 100px;
   height: 20px;

   background-color: #DC4747;
}

.user-form .item #admin-item {
   display: flex;
   align-items: center;
   
   position: relative;
   align-items: center;

   margin-bottom: 150px;
}

.user-form .item #admin-item .item-title {
   margin-bottom: 0;
}

.user-form .item #is_admin-input {
   width: 15px;
   height: 15px;
   opacity: 0;
   cursor: pointer;

   z-index: 1;
}

.user-form .item #checkmark{
   width: 15px;
   height: 15px;

   border: 1px solid #DDDDDD;
   border-radius: 4px;

   margin-right: 8px;
   margin-left: -15px;
}

.user-form .item #is_admin-input:checked ~ #checkmark{
   background-color: #2196F3;
}

#checkmark::after{
   content: "";
   position: absolute;
   display: none;
}

#is_admin-input:checked ~ #checkmark::after{
   display: block;
}

.user-form .item #is_admin-input:checked ~ #checkmark::after{
   left: 4px;
   top: 4px;
   width: 4px;
   height: 8px;
   border: solid white;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}