/** RECIPES AND CHEFS FIELDS **/

.fields-container {
   position: relative;
}

.fields-container h2 {
   font-size: 24px;
   font-weight: bold;

   margin-bottom: 30px;
}

.item-title {
   font-size: 16px;
   font-weight: bold;

   margin-bottom: 10px;
}

.item input,
.item select {
   height: 49px;
   width: 100%;

   border: 1px solid #DDDDDD;
   border-radius: 4px;
   margin-bottom: 5px;

   font-size: 16px;
   padding-left: 10px;
   color: rgb(39, 38, 38) ;
}

.item select {
   margin-bottom: 30px;
}

.item:first-child {
   margin-bottom: 30px;
}

#title-input {
   margin-bottom: 30px;
}

.item .add {
   font-size: 14px;
   color: #6558C3;

   margin-bottom: 40px;
}

.item .add:hover {
   filter: brightness(120%);
   cursor: pointer;
   transition: all 300ms;
}

.item textarea {
   width: 100%;
   height: 257px;

   border: 1px solid #DDDDDD;
   border-radius: 4px;
   margin-bottom: 50px;

   font-size: 16px;
   color: rgb(39, 38, 38) ;
   font-family: 'Roboto', sans-serif;
}