/** HOME HEADER **/


#home-header {
   padding: 65px 0;
}

#home-header .logo {
   position: absolute;
   top: 36.1px;
}

/* menu */

#home-header .menu {
   position: absolute;
   top: 38px;
   left: 213px;
}

#home-header .menu ul li {
   display: inline;
}

#home-header .menu ul li a {
   padding-left: 30px;
   
   font-size: 15px;
   color: black;
}

#home-header ul li:first-child a {
   padding-left: 0;
}

#home-header .menu ul li a:hover {
   font-weight: bold;
}

/** ADMIN HEADER **/

#admin-header {
   background-color: #0f0e0e;

   padding: 40px 0;
   margin-bottom: 55px;   
}

#admin-header .logo{
   position: absolute;

   left: 231px;
   top: 25px;
}

/* header menu */

#admin-header .menu {
   position: absolute;
   top: 29px;
   left: 372px;
   display: inline;

}

#admin-header .menu ul li {
   display: inline;
   padding-left: 30px;

   font-size: 15px;
   font-weight: bold;
   text-transform: uppercase;
}

#admin-header .links ul li:first-child {
   padding-left: 0;
}

#admin-header .links ul li a {
   color: #999999;
}

#admin-header .links ul li .main-links:hover {
   filter: brightness(150%);
}

/* header's menu active */

header .menu ul li a.active {
   font-weight: bold;
   filter: brightness(150%);
}

/* header menu dropdown */

#admin-header ul li {
   position: relative;
}

#admin-header ul li .submenu {
   position: absolute;
   left: 7px;
   width: 120px;
   display: block;
   text-align: center;

   background-color: white;
   border-radius: 4px;
   box-shadow: 2px 2px 5px -1px #555555;

   visibility: hidden;
   opacity: 0;
   top: -5px;
   transition: all 300ms;
}

#admin-header ul #recipes .submenu {
   position: absolute;
   left: -28px;
   width: 120px;
   display: block;
   text-align: center;
}

#admin-header ul li:hover .submenu {
   visibility: visible;
   opacity: 1;
   top: 20px;
}

#admin-header ul li .submenu li {
   max-width: 120px;
   padding: 0;
   border-radius: 4px;
}

#admin-header ul li .submenu li a,
#admin-header ul li .submenu li button {
   font-size: 13px;
   color:rgb(26, 26, 26);
   font-weight: normal;
   text-transform: capitalize;
   background-color: white;

   display: inline-block;
   width: 100%;
   
   border-bottom: 1px solid #eee;
   border-radius: 4px;
   padding: 8px;

   cursor: pointer;
   transition: 200ms;
}

#admin-header ul li .submenu li a.active {
   font-weight: normal;
   filter: none;
}

#admin-header ul li .submenu li:hover a,
#admin-header ul li .submenu li:hover button {
   background-color: #eee;
   font-weight: bold;
}

/** FOOTER **/

footer {
   padding: 31px 0;
   width: 100%;

   background: #eeeeee;

   text-align: center;
   flex-shrink: 0;
}

footer p {
   margin-top: auto;
   font-size: 14px;
   color: #999999;
}

/** HOME SEARCH **/

form .search-home input {
   width: 246px;
   height: 37px;

   font-size: 14px;
   color: #999999;

   border: 1px solid #DDDDDD;
   border-radius: 4px;
   padding-left: 11px;

   position: absolute;
   top: 28px;
   right: 100px;
}

form .search-home button {
   position: absolute;
   top: 28px;
   right: 0;

   width: 91px;
   height: 37px;
}

/** RECIPES CARDS **/

.recipes-cards h2 {
   font-size: 24px;
   font-weight: bold;

   margin-bottom: 20px;
}

.recipes-cards .cards ul {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;

   margin-bottom: 50px;
}

.recipes-cards .cards .card img {
   width: 300px;
   height: 140px;

   border-radius: 15px;
   margin-bottom: 15px;

   object-fit: cover;
}

.recipes-cards .cards .card h4 {
   font-size: 18px;
   color: #111111;

   padding-bottom: 5px;
}


.recipes-cards .cards .card p {
   font-size: 14px;
   color: #777777;
   font-weight: normal;
}