/** GENERAL HEADER **/

header {
   background-color: #0f0e0e;

   padding: 40px 0;
   margin-bottom: 55px;
   
   position: relative;
}

header .logo {
   position: absolute;
   top: 27px;
   left: 231px;
}

header img {
   vertical-align: middle;
}

/* links */

header .links {
   position: absolute;
   top: 29px;
   left: 372px;
   display: inline;

}

header .links ul li {
   display: inline;
   padding-left: 30px;

   font-size: 15px;
   font-weight: bold;
   text-transform: uppercase;
}

header .links ul li:first-child {
   padding-left: 0;
}

header .links ul li a {
   color: #999999;
}

header .links ul li a:hover {
   color: white;
}

/** FOOTER **/

footer {
   padding: 31px 0;
   width: 100%;

   background: #eeeeee;

   text-align: center;
   flex-shrink: 0;
}

footer p {
   margin-top: auto;
   font-size: 14px;
   color: #999999;
}