@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
   text-decoration: none;
   list-style-type: none;
   border: none;
}

body {
   font-family: 'Roboto', sans-serif;

   background-color: #f9f9f9;
   display: flex;
   flex-direction: column;
   max-width: 940px;
   width: 100%;

   margin: 0 auto;
}

/* HEADER */

header {
   margin: 30px 0;
   justify-content: center;
   position: relative;
}

header img {
   margin-right: 123px;
   vertical-align: middle;
}

header a {
   color: #111111;
   padding-left: 30px;
}

/* PRESENTATION CARD */

.presentation-container {
   background-color: #FBDFDB;
   
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr;

   width: 100%;
   height: 366px;

   border-radius: 30px;
   margin-bottom: 50px;
}

.presentation-container .presentation-message {
   margin-left: 60px;

}

.presentation-container .presentation-message h1 {
   font-size: 32px;
   color: #111111;

   margin-top: 115px;
}

.presentation-container .presentation-message p {
   font-size: 18px;
   line-height: 28px;
   opacity: 0.7;

   margin-top: 10px;
}

.presentation-container img {
   width: 216px;
   height: 300px;

   position: absolute;
   right: 100px;
   bottom: 0;
}

/* MOST-ACCESSED */

.most-accessed h2 {
   font-size: 24px;
   font-weight: bold;

   margin-bottom: 20px;
}

.most-accessed .cards ul {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
}

.most-accessed .cards .card img {
   width: 300px;
   height: 140px;

   border-radius: 15px;
   margin-bottom: 20px;
}

.most-accessed .cards .card a {
   font-size: 18px;
   color: #111111;

   padding-bottom: 5px;
}


.most-accessed .cards .card p {
   font-size: 14px;
   color: #777777;
}