@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
   text-decoration: none;
   list-style-type: none;
   border: none;
}

html, body {
   height: 100%;
}

body {
   font-family: 'Roboto', sans-serif;
   
   background-color: #f9f9f9;
   
   display: flex;
   flex-direction: column;
   
   width: 100%;
}

.container {
   max-width: 940px;
   width: 940px;

   flex: 1 0 auto;
   margin: 0 230px;

   position: relative;
}

/* button */

.button, a .button {
   background: #6558C3;
   border-radius: 4px;

   height: 37px;
   width: 139px;

   font-size: 16px;
   color: #FFFFFF;

   position: absolute;
   top: -5px;
   right: 0;
}

.button:hover, a .button:hover {
   opacity: 0.8;
   cursor: pointer;

   transition: all 500ms;
}

/* delete button */

.delete-button {
   background: #DC4747;
   border-radius: 4px;

   height: 37px;
   width: 139px;

   font-size: 16px;
   color: #FFFFFF;

   position: absolute;
   top: -5px;
   right: 149px;
}

.delete-button:hover {
   opacity: 0.8;
   cursor: pointer;

   transition: all 500ms;
}