<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../public/styles.css">
   <title>Foodfy</title>
</head>
<body>
   <header>
      <img src="../assets/images/logo.png" alt="">
      <a href="#">Sobre</a>
      <a href="#">Receitas</a>
   </header>
   <section class="presentation-container">
      <div class="presentation-message">
         <h1>As melhores receitas</h1>
         <p>
            Aprenda a contruir os melhores pratos, com receitas
            criadas por profissionais do mundo inteiro.
         </p>
      </div>
      <img src="../assets/images/chef.png" alt="chef figure">
   </section>
   <section class="most-accessed">
      <h2>Mais acessadas</h2>
      <div class="cards">
         <ul>
            <li class="card">
               <img src="../assets/images/burger.png" alt="">
               <a href="/">Triplo bacon burger</a>
               <p>por: Jorge Relato</p>
            </li>
            <li class="card">
               <img src="../assets/images/pizza.png" alt="">
               <a href="/">Pizza 4 estações</a>
               <p>por: Fabiana Melo</p>
            </li>
            <li class="card">
               <img src="../assets/images/espaguete.png" alt="">
               <a href="/">Espaguete ao alho</a>
               <p>por: Júlia Kinoto</p>
            </li>
            <li class="card">
               <img src="../assets/images/lasanha.png" alt="">
               <a href="/">Lasanha mac n' cheese</a>
               <p>por: Juliano Vieira</p>
            </li>
            <li class="card">
               <img src="../assets/images/doce.png" alt="">
               <a href="/">Docinhos pão-do-céu</a>
               <p>por: Ricardo Golvea</p>
            </li>
            <li class="card">
               <img src="../assets/images/asinhas.png" alt="">
               <a href="/">Asinhas de frango ao barbecue</a>
               <p>por: Vania Steroski</p>
            </li>
         </ul>
      </div>
   </section>
</body>
</html>