<header>
   <div class="logo">
      <a href="/">
         <img src="/images/logo.png" alt="">
      </a>
   </div>

   <div class="links">
      <ul>
         <li>
            <a href="/recipes">Receitas</a>
         </li>
         <li>
            <a href="/chefs">Chefs</a>
         </li>
      </ul> 
   </div>
</header>