<header id="home-header">
      <div class="logo">
         <a href="/home">
            <img src="/images/logo-home.png" alt="Logo do foodfy">
         </a>
      </div>
      <div class="menu">
         <ul>
            <li> <a href="/home">Sobre</a> </li>
            <li> <a href="/recipes?page=">Receitas</a> </li>
            <li> <a href="/chefs">Chefs</a> </li>
         </ul>
      </div>
</header>