{% if error %}
   <div class="board message-error">
      <p>{{error}}</p>
   </div>
{% endif %}

{% if success %}
   <div class="board message-success">
      <p>{{success}}</p>
   </div>
{% endif %}