{% macro render(recipes) %}

<div class="cards">
   <ul>
      {% for recipe in recipes %}
      <li class="card">
         <img src="{{recipe.image_src}}" alt="{{recipe.title}}">
         <h4>{{recipe.title}}</h4>
         <p>por: {{recipe.chef_name}}</p>
      </li>
      {% endfor %}
   </ul>
</div>

{% endmacro %}