<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/parts.css">
<link rel="stylesheet" href="/styles/fields.css">
<link rel="stylesheet" href="/styles/recipes.css">
